.menu {
    margin: auto;
    background-color: white;
    /* Green */
    
    border: black;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px solid black;
    font-family: Courier New;
    width: 200px;
    height: 50px;
    font-weight: bold;
}
li {
    text-decoration: none;
    list-style-type: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
#x {
    position: absolute;
    width: 50px;
    margin-top: 10px;
}
body {
    background-color: lightblue;
}