.body{
    background-color:#ffcc7e;
}
.menu{
        padding: 2%;
        width:40%;
        height:auto;
        text-align: center;
        margin:0 auto;

}
.spacing{
     margin-top: 5%;
     margin-left:5%;
     font-weight: bold;
     font-style: oblique;
     font-color: ;
 }

#mainmenu{
    margin-left:5%;
}
